<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicLayer.Properties.Settings.HospitalAppointmentSystemConnectionString"
            connectionString="Data Source=DESKTOP-DI43OBM\SQLEXPRESS;Initial Catalog=HospitalAppointmentSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>